.detalhes {
  background-color: var(--cor1);
  max-width: 1300px;
  margin: 0px auto;
  padding: 40px;
}

.detalhes h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--cor5);
  padding-bottom: 25px;
}

.detalhes p,
li {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--cor5);
}

.detalhes p {
  padding-bottom: 25px;
}

.detalhes li {
  padding-bottom: 5px;
}
