.galeria {
  position: relative;
}

.galeria::before {
  font-weight: 700;
  color: var(--cor4);
  content: "-22%";
  padding: 5px 10px;
  border-radius: 50px;
  background-color: var(--cor5);
  position: absolute;
  right: 60px;
  top: 20px;
  z-index: 999;
}
.box-min {
  display: flex;
  justify-content: center;
}

.box-min img {
  max-height: 100px;
  margin: 20px;
  border: 2px solid var(--cor4);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.box-min img:hover {
  border: 2px solid var(--cor10);
}

#rolagem {
  margin: 0 auto;
}

#rolagem::-webkit-scrollbar {
  height: 10px;
}

#rolagem::-webkit-scrollbar-thumb {
  background: transparent
    linear-gradient(270deg, var(--cor2) 0%, var(--cor3) 100%);
  border-radius: 10px;
}

#imagem-principal2 {
  display: none;
}

@media (max-width: 650px) {
  #rolagem {
    display: flex;
    overflow-x: auto;
  }

  #imagem-principal2 {
    display: initial;
  }

  .box-min {
    display: none;
  }
  .galeria {
    padding-top: 25px;
  }

  .galeria::before {
    right: 25px;
    top: 40px;
  }
}
