:root {
  --cor1: #f5f5f5;
  --cor2: #80d6b5;
  --cor3: #89c993;
  --cor4: #ffffff;
  --cor5: #333333;
  --cor6: #dddddd;
  --cor7: #999999;
  --cor8: #f4c960;
  --cor9: #666666;
  --cor10: #4ca871;
}

body {
  background-color: var(--cor1);
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.principal {
  max-width: 1300px;
  background-color: var(--cor1);
  margin: 0px auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner {
  max-width: 1300px;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 40px 0;
}

@media (max-width: 900px) {
  .principal {
    margin: 0 auto;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .informacoes {
    grid-column: 2/4;
  }
}

.banner img {
  width: 100%;
  max-height: 460px;
  object-fit: cover;
}
#b2 {
  display: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

@media (max-width: 650px) {
  .principal {
    grid-template-columns: 1fr;
  }

  .informacoes {
    grid-column: 1/-1;
  }

  .banner img {
    width: none;
    min-height: 400px;
  }
  #b1 {
    display: none;
  }

  #b2 {
    display: initial;
  }
}
