.bg-icones {
  background: transparent linear-gradient(270deg, #80d6b5 0%, #89c993 100%) 0%
    0% no-repeat;
}

.icones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 50px 0;
  gap: 50px;
}
.icon-tipo {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  border-right: 1px solid #ffffff;
}

.icon-tipo img {
  max-height: 60px;
}

.icon-tipo:nth-child(4) {
  border-right: 0;
}

@media (max-width: 1000px) {
  .icones {
    padding: 50px;
  }

  .icon-tipo {
    border-right: none;
  }
}

@media (max-width: 650px) {
  .icones {
    grid-template-columns: 1fr 1fr;
  }

  .icon-tipo {
    font-size: 1rem;
    gap: 0px;
  }

  .icon-tipo img {
    height: 40px;
  }
}
